<div class="{{recordType}} index">
  {{input value=filter placeholder="Filter"}}
  {{#unless hideCreate}}
    {{#if relationshipGiven}}
      {{link-to 'Create' 'model-records.new' recordType (query-params relationship-name=relationshipName relationship-id=relationshipId)}}
    {{else}}
      {{link-to 'Create' 'model-records.new' recordType}}
    {{/if}}
  {{/unless}}

  <table>
    <thead>
      <tr>
        {{#each filteredColumns as |column|}}
          <th>{{column}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each filteredRecords as |record|}}
        <tr>
          {{#each filteredColumns as |column|}}
          <td>
            {{#link-to 'model-records.edit' recordType record}}
              {{property-print record=record column=column}}
            {{/link-to}}
          </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#unless records}}
    No records!
  {{/unless}}
</div>
