<h2>Edit {{id}}</h2>

{{#each column in filteredColumns}}
<div {{bind-attr class=":model-column column"}}>
    <label>
      {{column}}
      {{admin-input columnValue=column}}
    </label>
  </div>
{{/each}}

{{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save"}}
{{async-button action="destroyRecord" default="Delete" pending="Deleting..." fulfilled="Deleted" rejected="Error" class="delete"}}
<button {{action "cancel"}} class="cancel">Cancel</button>
