<div class='new'>
  <h2>Create</h2>

  <form>
    {{#each filteredColumns as |column|}}
      <div class="model-column {{column}}">
        <label>
          {{column}}
          {{admin-input record=this columnValue=column}}
        </label>
      </div>
    {{/each}}

    {{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save"}}
    <button {{action "cancel"}} class="cancel">Cancel</button>
  </form>
</div>
