<div class='new'>
  <h2>Create</h2>

  <form>
    {{#each column in filteredColumns}}
      <div {{bind-attr class=":model-column column"}}>
        <label>
          {{column}}
          {{admin-input columnValue=column}}
        </label>
      </div>
    {{/each}}

    {{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save"}}
    <button {{action "cancel"}} class="cancel">Cancel</button>
  </form>
</div>
