<div class='edit'>
  <h2>Edit {{id}}</h2>

  <form>
    {{#each filteredColumns as |column|}}
    <div class="model-column {{column}}">
        <label>
          {{column}}
          {{admin-input record=this columnValue=column}}
        </label>
      </div>
    {{/each}}

    {{async-button action="save" default="Save" pending="Saving..." fulfilled="Saved" rejected="Error" class="save"}}
    {{async-button action="destroyRecord" default="Delete" pending="Deleting..." fulfilled="Deleted" class="delete"}}
    <button {{action "cancel"}} class="cancel">Cancel</button>
  </form>

  <div class="relationships">
    <h2>Relationships</h2>

    {{#each relationshipTypes as |relationshipType|}}
      {{#each relationshipType as |relationship|}}
        <h4>{{relationship.name}}</h4>
        {{model-records-table recordType=relationship.type records=relationship.records relationshipName=relationship.inverse relationshipId=model.id}}
      {{/each}}
    {{/each}}
  </div>
</div>
